<configuration>
	<connectionStrings>
		<add name="Stock" connectionString="Data Source=BRCSBT\\SQLEXPRESS02;Initial Catalog=deneme;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.7.1.0" newVersion="2.7.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI.Core" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.7.1.0" newVersion="2.7.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>


